<p>error-page works!</p>
<ul>
   <li>
    <a routerLink="/auth/login">
        Ir a login
    </a>
   </li> 
   <li>
    <a routerLink="/auth/registro">
        Ir a registro
    </a>
   </li>
   <li>
    <a routerLink="/heroes/listado">
        Ir a listar heroes
    </a>
   </li>
   <li>
    <a routerLink="/heroes/agregar">
        Ir a agregar heroes
    </a>
   </li>
   <li>
    <a routerLink="/heroes/editar/69">
        Ir a editar heroes
    </a>
   </li>
   <li>
    <a routerLink="/heroes/buscar">
        Ir a buscar heroes
    </a>
   </li>
   <li>
    <a routerLink="/heroes/69">
        Ir a personal heroes
    </a>
   </li>
</ul>


