<div fxLayout="column">
    <div>
        <h1>Buscador de héroes</h1>
        
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <br>
        <h3>Buscador</h3>
        <mat-form-field >
         
            <input type="text"
                   placeholder="Ingrese un término de busqueda"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="busqueda()">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="opcionSeleccionada($event)">
              <mat-option *ngFor="let heroe of ListadoHeroes" [value]="heroe">
                {{heroe.superhero}}
              </mat-option>
              <mat-option *ngIf="ListadoHeroes.length == 0 && termino != ''" [value]="">
                  No se encontro nada con termino "{{termino}}"
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<div *ngIf="heroe">
    <app-heroes-tarjeta [heroe]="heroe"></app-heroes-tarjeta>
</div>
